.section1{
    height: 100vh;
    text-align: center;
    background-color: rgb(0, 0, 0);
    color: aliceblue;
}
.sec1{
    grid-template-columns: repeat(2, 3fr);
}
h2{
    margin-top: 2rem;
    color:rgb(235, 235, 235)
}

@media (max-width: 985px) {
    h2{
        font-size: 1.3rem;
    }
    .section1{
        height: 120vh;
        text-align: center;
        background-color: rgb(0, 0, 0);
        color: aliceblue;
    }
}
.a{
    margin-top: 1rem;
}