.section2{
    height: 100vh;
    text-align: center;
    background-color: rgb(255, 255, 255);
    color:rgb(11, 0, 109)
}
.list{ 
    list-style: none;
}
.list li{
    display: inline;
}
.html{
    width: 350px;
}
.css{
    width: 110px;
}
.js{
    width: 150px;
}
.node{
    margin-right: 100px;
    width: 450px;
}
.php{
    margin-left: 150px;
    width: 200px
}
.sql{
    margin-left: 150px;
    width: 400px;
}