.section3{
    height: 100vh;
    text-align: center;
    background-color: rgb(0, 0, 0);
    color: aliceblue;
}
.column{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: flex-start;

}
.works{
    margin: 5px;
    border: 2px solid white;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: flex-start;
    
}

